# build output
dist
.joy
**/.next
.out
out

# dependencies
node_modules
test/node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out
junit.xml
.DS_Store
.idea
*.iml


packages/joy-website
packages/joy-admin