@import url("~highlight.js/styles/atom-one-dark.css");

body {
  --blue: #086dc3;
  --orange: hsl(39, 100%, 50%);
  --deep-orange: hsl(39, 100%, 45%);
  --font-color: #191e1e;
  --border-color: #ebf2f2;
  --background-color: #fff;
  --font-reverse-color: #fff;
  --sub-background-color: #ebf2f2;

  --break-point: 920px;
  --bigger-than-break-point: calc(100vw - var(--break-point));
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

body[data-theme="dark"] {
  --blue: #1f98ff;
  --font-color: #fff;
  --border-color: #2b2f33;
  --font-reverse-color: #191e1e;
  --background-color: #191e1e;
  --sub-background-color: #262a2d;
}

/* 覆盖antd的背景颜色，便于主题切换 */
.ant-layout {
  background-color: transparent !important;
}
