.text-ellipse(@lines: 3) {
  display: -webkit-box !important;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.layout {
  --white: hsl(255, 100%, 100%);
  --gray: hsl(213, 5%, 45%);
}

.section {
  text-align: justify;
}

@property --pos {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.banner() {
  padding: 80px 0 95px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @keyframes bgAnimation {
    from {
      transform: rotate(0) translate(-50%, -50%);
    }
    to {
      transform: rotate(360deg) translate(-50%, -50%);
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: clamp(6%, var(--bigger-than-break-point), 12%);
    top: 50%;
    // transform-origin: -25% -25%;
    transform: translate(-50%, -50%);
    // animation: bgAnimation 5s infinite;
    width: clamp(450px, var(--bigger-than-break-point), 500px);
    height: clamp(450px, var(--bigger-than-break-point), 500px);
    border-radius: 50%;
    background: conic-gradient(
      white 37.5%,
      hsl(39, 100%, 50%) 37.5%,
      hsl(39, 100%, 50%) 62.5%,
      hsl(39, 100%, 40%) 0,
      hsl(39, 100%, 40%) 87.3%,
      white 87.4%
    );
    z-index: -1;
  }

  &::after {
    left: auto;
    right: clamp(6%, var(--bigger-than-break-point), 12%);
    transform: translate(50%, -50%);
    background: conic-gradient(
      hsl(39, 100%, 40%) 0,
      hsl(39, 100%, 40%) 25%,
      white 25%,
      white 50%,
      transparent 50%,
      transparent 75%,
      hsl(39, 100%, 50%) 75%,
      hsl(39, 100%, 50%) 0
    );
  }

  h1 {
    font-size: clamp(2rem, var(--bigger-than-break-point), 3.25rem) !important;
  }

  button {
    --pos: 0;
    line-height: normal;
    height: clamp(2.5rem, var(--bigger-than-break-point), 3rem);
    font-size: clamp(1rem, var(--bigger-than-break-point), 1.2rem);
    font-weight: 500;
    color: var(--font-color);
    border: 2px solid var(--font-color);
    border-radius: 0;
    background: linear-gradient(90deg, var(--font-color) var(--pos), transparent 0) !important;
    transition: --pos 0.3s, color 0.3s 0.1s;

    & + button {
      margin-left: 15px;
    }

    &:hover,
    &:focus {
      --pos: 100%;
      color: var(--font-reverse-color);
      border: 2px solid var(--font-color);
    }
  }

  &__wordWrap {
    position: relative;
    overflow: hidden;

    &::before {
      content: " ";
      display: inline-block;
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:nth-child(1) > span {
        transform: translateY(0);
      }

      &:nth-child(2) > span {
        transform: translateY(110%);
      }

      &:nth-child(3) > span {
        transform: translateY(-110%);
      }
    }

    span {
      --delay: calc(var(--j) * 3s + var(--i) * 0.02s);
      display: inline-block;
      animation: transformSpan 9s cubic-bezier(0.65, 0, 0.21, 1.42) var(--delay) infinite;
    }

    @keyframes transformSpan {
      0%,
      33%,
      100% {
        transform: translateY(0);
        opacity: 1;
      }

      34%,
      66% {
        transform: translateY(-110%);
        opacity: 0;
      }

      67%,
      99% {
        transform: translateY(110%);
        opacity: 0;
      }
    }
  }
}

// web端样式
body[data-is-mobile="false"] {
  .banner {
    .banner();
  }
}

// 移动端样式
body[data-is-mobile="true"] {
  .banner {
    .banner();

    margin-top: 57px;
  }
}

.carousel {
  display: flex !important;
  place-items: center;
  height: 300px;
  width: 100%;
  font-size: 2em;
  color: var(--white);
  background: linear-gradient(45deg, hsl(380, 78%, 53%), hsl(360, 78%, 53%) 30%, hsl(360, 78%, 53%) 60%, hsl(380, 78%, 53%));

  div[role="carousel page"] {
    .text-ellipse();
    padding: 0 clamp(30px, 150px, 5vw);
  }
}

.section_2 {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: var(--gray);
  background-color: var(--white);

  &__left,
  &__right {
    flex: 1;
    margin: clamp(30px, 80px, 4vw);
  }

  &__left {
    .text-ellipse(10);
    border-radius: 3px;
    outline: rgba(235, 220, 220, 0.548) 2px double;
    outline-offset: 50px;
  }

  &__right {
    h3 {
      .text-ellipse(1);
    }

    p:nth-of-type(1) {
      color: hsl(32, 87%, 49%);
    }
  }
}

.section_3 {
  display: grid;
  grid-template-areas: "title" "list";
  // grid-template-rows: 200px auto;
  justify-items: center;
  font-size: 1.5em;
  color: var(--gray);
  background-color: hsl(260, 50%, 90%);
  text-indent: 0;

  &__title {
    grid-area: title;
    align-self: center;
    text-align: center;
    margin-bottom: 0;
  }

  &__list {
    grid-area: list;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    text-align: center;
  }

  &__item {
    margin: 15px 30px;
    padding: 30px;
    border: 1px solid hsl(260, 7%, 76%);
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.3s;
    cursor: pointer;

    svg {
      font-size: 2.8em;
    }

    h3 {
      margin: 10px auto 5px;
    }

    p {
      .text-ellipse(4);
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 10px 15px hsl(256, 23%, 80%);

      h3 {
        color: hsl(22, 90%, 60%);
      }
    }
  }
}
